<!DOCTYPE html>
<html>
  <head>
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <nav class="nav-row">
      <div class="nav-inner">
        <h1>CAR<span class="brand-blue">VAULT</span></h1>
        <div class="controls">
          <input
            id="searchInput"
            type="text"
            placeholder="Search models..."
            class="search-input"
          />
          <button onclick="showCompare()" class="btn btn-primary">
            Compare
          </button>
        </div>
      </div>
    </nav>

    <h1>Hello world</h1>
    {{embed}}
    <h1>Hellow world</h1>
  </body>
</html>
